@import "tailwindcss";

@theme {
  --font-display: var(--font-anton), sans-serif;
  --font-sans: var(--font-hanken), sans-serif;
  --font-mono: var(--font-space-mono), monospace;
}

/* Forçar a aplicação da classe font-display com a fonte Anton */
.font-display {
  font-family: var(--font-anton), 'Anton', sans-serif !important;
}

.font-sans {
  font-family: var(--font-hanken), 'Hanken Grotesk', sans-serif !important;
}

.font-mono {
  font-family: var(--font-space-mono), 'Space Mono', monospace !important;
}

/* Design System: Cantos 100% retos */
* {
  border-radius: 0px !important;
}